# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Django-specific
db.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django Collected Static (must be committed for Vercel deploy)
!staticfiles/
# Source static folder (local only)
# /static/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp

# Ignore environment files
.env
*.env
config/settings.py
config/razorpay_config.py
