# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Django-specific
db.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django Static Files
/static/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
