{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
   <div class="content container-fluid">
       <div class="page-header">
           <h3 class="page-title">Edit Product</h3>
       </div>

       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-body">
                       <form method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           
                           <!-- Product Information -->
                           <h4>Product Details</h4>
                           <div class="form-group">
                               {{ product_form.as_p }}
                           </div>

                           <!-- Product Variant Section -->
                           <h4>Product Variants</h4>
                           <div id="variant-container">
                               {{ variant_formset.management_form }}
                               {% for form in variant_formset %}
                                   <div class="variant-item mb-3">
                                       {{ form.as_p }}
                                       <label for="id_form-{{ forloop.counter0 }}-DELETE">
                                           Delete Variant:
                                           {{ form.DELETE }}
                                       </label>
                                   </div>
                                   <hr>
                               {% endfor %}
                           </div>

                           <hr>
                           <button type="submit" class="btn btn-success">Save Changes</button>
                           <a href="{% url 'product_details' product.id %}" class="btn btn-secondary">Cancel</a>
                       </form>
                       
                       <!-- Add Variant Button -->
                       <a href="?extra={{ extra_forms|add:1 }}" class="btn btn-primary mt-3">Add Another Variant</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock %}
